<!doctype html>
<html lang="en">
<!-- merge -->
<head>
    <title>Quản lý môn học</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main class="container">
        <header class="row pt-5 pb-2">
            <div class="col-9">
                <h1>PTIT</h1>
            </div>
            <div class="col-3">
                <img src="/static/Logo_PTIT_University.png" class="ml-2" height="100px" alt="">
            </div>
        </header>
        <nav class="row">
            <div class="col">
                <nav class="navbar navbar-expand-sm navbar-light bg-light">

                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/giaovu">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    Trang Chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giaovu/quanlysv">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                    Quản Lý Sinh Viên</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/giaovu/quanlymonhoc">
                                    <i class="fa fa-universal-access" aria-hidden="true"></i>
                                    Quản Lý Môn Học</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    Quản Lý Lớp Học Phần</a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
        <section class="row">
            <div class="col">
                <form action="" method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">

                                    <div class="row">
                                        <div class="col-10 offset-1">
                                            <h4 class="card-title">Quản Lý Môn Học</h4>
                                            
                                        </div>
                                        <div class="col-10 offset-1 mt-2">
                                            <strong>Danh sách môn học:</strong>

                                            <table class="table table-striped table-responsive-md ">
                                                <thead class="thead-default">
                                                    <tr>
                                                        <th>TT</th>
                                                        <th>Mã môn học</th>
                                                        <th>Tên môn học</th>
                                                        <th>Bộ Môn</th>
                                                        <th>Số tín chỉ</th>
                                                        <th>&nbsp;</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">1</td>
                                                        <td>INT1423</td>
                                                        <td>Giải tích</td>
                                                        <td>Công nghệ phần mềm</td>
                                                        <td>3</td>
                                                        <td>
                                                            <a href="#">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                                Sửa</a>
                                                        </td>
                                                        
                                                        <td>
                                                            <a href="#">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Xóa
                                                            </a>
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">1</td>
                                                        <td>INT1232</td>
                                                        <td>Lập trình python</td>
                                                        <td>Công nghệ phần mềm</td>
                                                        <td>3</td>
                                                        <td>
                                                            <a href="#">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                                Sửa</a>
                                                        </td>
                                                        
                                                        <td>
                                                            <a href="#">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Xóa
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>

                                            <div class="alert alert-success" role="alert">
                                                <!-- Thông báo lưu thành công -->
                                                <strong></strong>
                                            </div>
                                            <nav aria-label="Page navigation">
                                              <ul class="pagination justify-content-center">
                                                <li class="page-item disabled">
                                                  <a class="page-link" href="#" aria-label="Trước">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Trước</span>
                                                  </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#" aria-label="Sau">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Sau</span>
                                                  </a>
                                                </li>
                                              </ul>
                                            </nav>

                                            <button type="submit" class="btn btn-secondary ">Thêm Môn Học</button>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>